<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" routerLink = "/home">
        <strong>ResearchDesk</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a routerLink = "/home" class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink = "/about" class="nav-link">About
       
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink = "/contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Academics<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" routerLink = "/qpcoursecat" mdbWavesEffect>Question Papers</a>
              <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Books</a>
              <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Syllabus</a>
              <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Time Table</a>
          </div>
      </li>
      </ul>
    </links>
  </mdb-navbar>
  </header>