.heading {
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;

}

.view {
    background: url("../../assets/images/Banner-About-us.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
