  
  <!-- Main -->
  <div class="view intro-2" style="">
    <div class="full-bg-img">
      <div class="mask rgba-stylish-strong flex-center">
        <div class="container text-center white-text">
          
        <div class ="heading wow flash">
          About Us
        </div>

          <br>
          <h5>Who are we? What do we do?</h5>
         
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->





<!-- Jumbotron -->
<div class="jumbotron text-center mt-3">

    <!-- Title -->
    <h4 class="card-title h4 pb-2"><strong>About The University</strong></h4>
  
    <!-- Card image -->
    <div class=" overlay my-4 ">
      <img src="../../assets/images/rkdf university.jpg" class="img-fluid" alt="">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <h2 class="indigo-text h2 mb-4">RKDF University</h2>
  
    <p class="card-text"><strong>Make Education a reality</strong> <br>


        The RKDF group way back in 1990s realized the need for access and quality in higher education especially in central India and decided to establish colleges at different locations in the state of Madhya Pradesh. The Group is offering education since 1995 and has a network of colleges in areas of engineering, management, hotel management, education, homeopathic, dental and nursing, and pharmacy located in cities of Bhopal, Indore, Sehore and Rewa to promote equity and access to education in central India. The group has capacity to enroll annually more than 14,000 students in different disciplines. With a motive to give “education to all” the RKDF Group further decided to establish a university with multidiscipline; and thus emerged the  RKDF University, Bhopal sponsored by the AYUSHMATI EDUCATION AND SOCIAL SOCIETY on 14th February 2012.The University is spread on a 55 acre beautiful landscape with plenty of open space and sports area interspersed within academic buildings. Within a very short span its Vice Chancellor, Shri V. K. Sethi with his team of young and remarkably able group of faculties and staff and the experience of RKDF Group Management and Advisory Board has been able to carve a niche in the higher education sector of Madhya Pradesh. Also the student demographic- with students hailing from various states was emblematic of the socio-economic , ethnic, religious and cultural diversity of the country. Thus learning from the strengths and drawbacks and drawing from these experiences RKDF University has embarked upon a well defined course of action to achieve the levels of excellence it aspires to. The University has a mission to provide quality education through teaching and imparting practical skills in major disciplines up to post graduate level including M.Phil and Ph.D. In RKDF we believe that class lectures, apart from relaying information and imparting skills, should help students develop critical faculties for thinking out of the box. Furthermore, RKDF University strives to ensure that students’ education is multidimensional and we have adhered to a multidisciplinary approach. It has an excellent ambience and distinctly hospitable environment for higher learning in various subjects. The University facilitates interaction with national and foreign institutions to broaden the knowledge and skill of students. Flexibility in choice of courses, periodical revisions of courses, interdisciplinary and integrated courses as per the national and global requirement are the emerging issues that University envisaged to introduce in future. Sound grasp of fundamentals, good analytical skills, awareness of contemperory problems, reasoning abilities and exposure to the rapidly changing technologies are an integral part of the teaching in the campus. Infrastructure like physical facilities, updating of laboratory equipment, modern pedagogical equipment for delivery of lectures, latest books and journals including e-journals are other aspects that University is conscious of to provide. 
        Group Activity at a Glance:
        Largest education group in Central India.
        140 colleges spread across seven (7) campuses in 4 cities of central India.
        40,000 students at any given time in RKDF group of Education.
        5 Million Sq. ft. built up area.
        Besides Education, the group has presence in Medical Diagnostic, Banking and Media.
        Venturing into Hospitality Management.<br>
        <strong>About The University</strong> <br>
        RKDF University established in the year 2012.Education is all about creating an environment of academic freedom, where bright minds meet, discover and learn. One would experience top of the world living and learning experience at RKDF Campus.
        RKDF University is one of the growing universities of central India with over 40,000 students and 1,500 faculty, offering a wide range of undergraduate, postgraduate and doctoral programs in Engineering, Management, Health sciences, and Science and Humanities.<br>
        <strong>Education Environment</strong><br>
        Experienced faculty, flexible and dynamic curriculum, exciting research, and global connections are the features that set RKDF apart from other universities. Students have a wide choice of cutting edge programs. Most of these courses shall be offered in close collaboration with foreign universities.
        Over 60 top executives from leading corporate institutions constantly interact with faculty and students to help in formulating academics and research.</p>
  
   
  </div>
  <!-- Jumbotron -->

























  <!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
  <!-- Section description -->
  
  <!--<p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
   veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
  -->
  
  <!-- Grid row -->
  <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-4 mb-lg-0 mb-5 wow flip">
          <div class="avatar zoom mx-auto">
              <img src="../../assets/images/Chetan.jpg" style="height : 200px" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Chetan Choudhary</h5>
          <p class="text-uppercase blue-text">
              <strong>Web Developer</strong>
          </p>
          <p class="grey-text">edited afterwords</p>
          <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                  <i class="fa fa-facebook blue-text"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
                  <i class="fa fa-twitter blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-instagram blue-text"> </i>
              </a>
          </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-4 mb-lg-0 mb-5 wow flip">
          <div class="avatar zoom mx-auto">
              <img src="../../assets/images/Prajesh.jpg" style="height : 200px" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">Prajesh Panjiyar</h5>
          <p class="text-uppercase blue-text">
              <strong>Web developer</strong>
          </p>
          <p class="grey-text">edited afterwords</p>
          <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                  <i class="fa fa-facebook blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-instagram blue-text"> </i>
              </a>
          </ul>
      </div>
      <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-lg-4 col-md-4 mb-lg-0 mb-5 wow flip">
                <div class="avatar zoom mx-auto">
                    <img src="../../assets/images/anand.jpg" style="height : 200px" class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Anand Singh</h5>
                <p class="text-uppercase blue-text">
                    <strong>Web Developer</strong>
                </p>
                <p class="grey-text">edited afterwords</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <i class="fa fa-facebook blue-text"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="p-2 fa-lg tw-ic">
                        <i class="fa fa-twitter blue-text"> </i>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fa fa-instagram blue-text"> </i>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

      

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->