.heading {
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;

}

.view {
    background: url("../../assets/images/banner-contact.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.bg-color {
    background-color: #4285F4;
}