 <!-- Main -->
 <div class="view intro-2" style="">
  <div class="full-bg-img">
    <div class="mask rgba-stylish-strong flex-center">
      <div class="container text-center white-text">
        
      <div class ="heading wow flash">
        Contact Us
      </div>

        <br>
        <h5>Have Questions? We have Answers.</h5>
       
      </div>
    </div>
  </div>
</div>
<!-- /.Main -->



<!-- Section: Contact v.3 -->
<section class="contact-section my-5 wow swing">

  <!-- Form with header -->
  <mdb-card>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-8 px-5">

        <mdb-card-body class="form">

          <!-- Header -->
          <h3 class="mt-4">
            <i class="fa fa-envelope pr-2"></i>Write to us:</h3>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-name" class="form-control" mdbInputDirective>
                <label for="form-contact-name" class="">Your name</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-email" class="form-control" mdbInputDirective>
                <label for="form-contact-email" class="">Your email</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-phone" class="form-control" mdbInputDirective>
                <label for="form-contact-phone" class="">Your phone</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-company" class="form-control" mdbInputDirective>
                <label for="form-contact-company" class="">Your college</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <textarea type="text" id="form-contact-message" class="form-control md-textarea" mdbInputDirective rows="3"></textarea>
                <label for="form-contact-message">Your message</label>
                <a mdbBtn floating="true" color="blue" size="lg">
                  <i class="fa fa-send-o"></i>
                </a>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </mdb-card-body>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4">

        <div class="card-body bg-color contact text-center h-100 white-text">

          <h3 class="my-4 pb-2">Contact information</h3>
          <ul class="text-lg-left list-unstyled ml-4">
            <li>
              <p>
                <i class="fa fa-map-marker pr-2"></i>Bhopal,Madhya Pradesh (462001), India</p>
            </li>
            <li>
              <p>
                <i class="fa fa-phone pr-2"></i>+ 91 7389517722</p>
            </li>
            <li>
              <p>
                <i class="fa fa-envelope pr-2"></i>contact@example.com</p>
            </li>
          </ul>
          <hr class="hr-light my-4">
          <ul class="list-inline text-center list-unstyled">
            <li class="list-inline-item">
              <a class="p-2 fa-lg tw-ic">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="p-2 fa-lg li-ic">
                <i class="fa fa-linkedin"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-instagram"> </i>
              </a>
            </li>
          </ul>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </mdb-card>
  <!-- Form with header -->

</section>
<!-- Section: Contact v.3 -->