.heading {
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
   

}

.view {
    background: url("../../assets/images/qpCourseCat-banner.jpg")no-repeat center center;
    background-size: cover;
  
}

.bg-color {
    background-color: #4285F4;
}

.courseCatCard {
    height: 270px;
  
}