
 <!-- Main -->
 <div class="view intro-2" style="">
  <div class="full-bg-img">
    <div class="mask rgba-stylish-strong flex-center">
      <div class="container text-center white-text">
        
        <h1 class = "text-center responsive heading wow flash">Choose your course !</h1>

      </div>
    </div>
  </div>
</div>
<!-- /.Main -->


<!-- 1st row-->
<div class="card-deck mt-3 ">

<!-- Card -->
<div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Bachelor of Engineering</strong></h3>
     
      <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->


<!-- Card -->
<div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Master of Technology</strong></h3>
     
      <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->



<!-- Card -->
<div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Pharmacy</strong></h3>
     
      <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->



<!-- Card -->
<div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Polytechnic</strong></h3>
     
      <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->

</div>


<!-- 2nd row-->
<div class="card-deck mt-3">


<!-- Card -->
<div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Management</strong></h3>
     
      <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->


<!-- Card -->
<div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Computer Application</strong></h3>
     
      <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->

<!-- Card -->
<div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Science</strong></h3>
     
      <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->

<!-- Card -->
<div class="card card-image mb-3 wow flip " style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center mask rgba-black-strong  py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Agriculture</strong></h3>
     
      <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->

</div>


<!-- 3rd row-->
<div class="card-deck mt-3">


  <!-- Card -->
  <div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
  
    <!-- Content -->
    <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
       
        <h3 class="card-title pt-2"><strong>Commerce</strong></h3>
       
        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->
  
  
  <!-- Card -->
  <div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
  
    <!-- Content -->
    <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
       
        <h3 class="card-title pt-2"><strong>Law</strong></h3>
       
        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->
  
  <!-- Card -->
  <div class="card card-image mb-3 wow flip" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
  
    <!-- Content -->
    <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
       
        <h3 class="card-title pt-2"><strong>Architecture</strong></h3>
       
        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->
  
  <!-- Card -->
  <div class="card card-image mb-3 wow flip " style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
  
    <!-- Content -->
    <div class="courseCatCard text-white text-center d-flex align-items-center mask rgba-black-strong  py-5 px-4">
      <div>
       
        <h3 class="card-title pt-2"><strong>Education</strong></h3>
       
        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->
  
  </div>