

 <!-- Main -->
 <div class="view intro-2" style="">
  <div class="full-bg-img">
    <div class="mask rgba-stylish-strong flex-center">
      <div class="container text-center white-text">
        
        <h1 class = "text-center responsive heading wow flash">Choose your Semester !</h1>

      </div>
    </div>
  </div>
</div>
<!-- /.Main -->

<div class="mt-2 mb-5"> 

<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
  
  <div class="row">  
    <!--First slide-->
  <mdb-carousel-item>
    <div class="card-deck ml-3">
          <div>
      <!-- Card -->
<div class="card blue card-image mb-3" >

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>First Semester</strong></h3>
     
      <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
    </div>
    
    <div>
      <div class="card green card-image mb-3" >

        <!-- Content -->
        <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
           
            <h3 class="card-title pt-2"><strong>Second Semester</strong></h3>
           
            <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
        <!-- Content -->
      </div>
    </div>
    <div>
      <div class="card yellow card-image mb-3">

        <!-- Content -->
        <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
           
            <h3 class="card-title pt-2"><strong>Third Semester</strong></h3>
           
            <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
        <!-- Content -->
      </div>
    </div>

  </div>

  </mdb-carousel-item>

</div>


  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <div class="card-deck ml-3">
          <div>
      <!-- Card -->
<div class="card green card-image mb-3">

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Fourth Semester</strong></h3>
     
      <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
    </div>
    
    <div>
      <div class="card yellow card-image mb-3">

        <!-- Content -->
        <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
           
            <h3 class="card-title pt-2"><strong>Fifth Semester</strong></h3>
           
            <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
        <!-- Content -->
      </div>
    </div>
    <div>
      <div class="card blue card-image mb-3">

        <!-- Content -->
        <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
           
            <h3 class="card-title pt-2"><strong>Sixth Semester</strong></h3>
           
            <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
        <!-- Content -->
      </div>
    </div>

  </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <div class="card-deck ml-3">
          <div>
      <!-- Card -->
<div class="card card-image mb-3 blue" >

  <!-- Content -->
  <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
     
      <h3 class="card-title pt-2"><strong>Seventh Semester</strong></h3>
     
      <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
    </div>
  </div>
  <!-- Content -->
</div>
    </div>
    
    <div>
      <div class="card card-image mb-3 yellow" >

        <!-- Content -->
        <div class="courseCatCard text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
           
            <h3 class="card-title pt-2"><strong>Eight Semester</strong></h3>
           
            <a routerLink = "/qpBESem" mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
        <!-- Content -->
      </div>
    </div>
    
    </div>
   
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->

</div>