
    
  <!-- Main -->
  <div class="view intro-2" style="">
    <div class="full-bg-img">
      <div class="mask rgba-stylish-strong flex-center">
        <div class="container text-center white-text">
          
        <p style="font-size: 25px"> RKDF University's</p>
        <div class ="heading wow flash">
          Research Desk
        </div>

          <br>
          <h5>All at one place !</h5>
         
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->








  <div class="card-deck mt-3 mb-3 ml-2 mr-2">
      <!-- Card -->
      <mdb-card class ="wow tada">
        <div class="overlay zoom waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/question paper.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Title-->
          <mdb-card-title>
            <h4>Question Papers</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text> All Previous year Questions for your Practice.
          </mdb-card-text>
    
          <a routerLink = "/qpcoursecat" mdbBtn color="primary" mdbWavesEffect>Explore</a>
        </mdb-card-body>
      </mdb-card>
    
      <!-- Card -->
      <mdb-card class ="wow tada">
        <div class="zoom rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/books.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Title-->
          <mdb-card-title>
            <h4>Books</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text> Some of the recommended Books.
          </mdb-card-text>
    
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Explore</a>
        </mdb-card-body>
      </mdb-card>
    
      <!-- Card -->
      <mdb-card class ="wow tada">
        <div class="zoom rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/syllabus.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body class="text-center">
     
        <!--Title-->
          <mdb-card-title>
            <h4>Syllabus</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text> You should know what's in your Course.
          </mdb-card-text>
    
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Explore</a>
  
 
        </mdb-card-body>
      
      </mdb-card>
    </div>


